# Kaggle DataSet: DataAnalyst - Job

## Description
### Abstract

#### Looking for a job as Data Analyst? Maybe this dataset can help you.

### About this dataset

Amidst the pandemic many people lost their jobs, with this dataset it is possible to hone the job search so that more people in need can find employment.
This dataset was created by picklesueat and contains more than 2000 job listing for data analyst positions, with features such as:

    - Salary Estimate
    - Location
    - Company Rating
    - Job Description

#### How to use

Find the best jobs by salary and company rating
Explore skills required in job descriptions
Predict salary based on industry, location, company revenue

### Table of Contents:

    1. Python Libraries & Settings
    2. Loading & Understanding the data
        2.1 Inspecting the dataframe
        2.2 Sumarizing data
        2.3 Deleting unnecessary columns
    3. Data Cleaning
        3.1 Dealing with '-1' and 'Unknown' values.
        3.2 Dealing with NaNs
        3.3 Feature Engineering (estimate salary)
        3.4 Reducing granularity
    4. Overall DataViz
    5. Questions/Hypotheses: Integrity
    6. Feature Engineering: Job Descriptions
    7. Perfumery: Cleanning data
    8. Looking for Latitude and Logitude: GeoCoder

## 1. Python Libraries & Settings

In [1]:
# Importing libs

import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

from pandas_profiling import ProfileReport

In [2]:
# Setting parameters: display and graphics

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

## 2. Loading & Understanding the data

In [3]:
# Loading data

data = pd.read_csv('DataAnalyst.csv')
data.head(3)

FileNotFoundError: [Errno 2] File DataAnalyst.csv does not exist: 'DataAnalyst.csv'

**It's quite troublesome working with collumns that contain capital letters and blank spaces. Let's change it:**

    From:  Type of ownership
    To: type_of_ownership

In [ ]:
data.columns = data.columns.str.replace(" " , "_")  
data.columns = data.columns.str.lower()
data.head(3)

In [ ]:
# Dropping unnecesary columns: unnamed_0
data.drop(columns={'unnamed:_0'}, inplace = True)

In [ ]:
# Sumarizing data: using ProfileReport Lib

def overview(df):
    return ProfileReport(df, html={'style': {'full_width': True}}, sort="None")

In [ ]:
overview(data)

**Lets display categorical unique's values lesser than 15**

In [ ]:
for column in data.columns:
    if data[column].nunique() <= 15:
        print('')
        print(column)
        print('')
        print('Uniques Values: ' + str(data[column].nunique()))
        print(data[column].value_counts())
        print('=-'*10)

## 3. Data Cleanning

As we can see, many columns has '-1' value. Problably represents 'NaNs' values, except for 'easy_apply' columns, that is can represents 'False'.
In the same hand, many columns has 'Unknown' values. If we don't know, it's the same as 'NaN'.

Also, 'Revenue' has a great granularity, would be better change it for a small one, just like:

        Less than $1 million (USD)
    1 to $5 million (USD) + $5 to $10 million (USD)
        10 to $25 million (USD) + $25 to $50 million (USD)
    50 to $100 million (USD)

Than, let's fix it.

### 3.1 GENERAL

### 3.1.1 Dealing with '-1' and 'Unknown' values.

In [ ]:
data['size'].replace('-1', 'Unknown', inplace=True)
data['type_of_ownership'].replace('-1', 'Unknown', inplace=True)
data['revenue'].replace('-1', 'Unknown / Non-Applicable', inplace=True)
data['easy_apply'].replace('-1', False, inplace=True)

data=data.replace(-1,np.nan)
data=data.replace(-1.0,np.nan)
data=data.replace('-1',np.nan)

data['easy_apply'] = data['easy_apply'].astype(bool)

### 3.1.2 Dealing with NaNs values

Strategy:
    
    General --> Dop columns that contains more than 40% NaNs;
    Company_name --> Only 1, let's drop it. 
    Founded e HeadQuarter --> Does not influences our analysis. Let's keep them.
    Industry --> NaN Imputation: Let's look at companies that have the same size and revenue as que missing and and imput the most frequent (mode).
    Rating --> We are using the mean.
    Revenue, Sector, Size --> Mode
    Salary_Estimate --> Just one value. Lets check what job is, then replace for the 'mode' for that job.

In [ ]:
data.isnull().sum()

In [ ]:
# Dropping more than 40% NaNs

[data.drop(columns=[column], inplace=True) for column in data.columns if data[column].isnull().sum()/(data.shape[0])*100 > 40]

### 3.2 SPECIFIC COLUMNS

### 3.2.1 Industry - 15.67% de NaNs

In [ ]:
# Looking at 'size' and 'revenue' (Industry's NaNs)

data[data['industry'].isnull()].head(3)

In [ ]:
data['industry'].value_counts().head(8)

In [ ]:
ind_null = data[data['industry'].isnull()]
ind_null.revenue.value_counts(1)

In [ ]:
# The missing values has '1 to 50 employees' Siza en 'Unkown' revenue. Let's use it as a parameter to replace 

ind_count = data.loc[(data['size'] == '1 to 50 employees') & (data['revenue'] == 'Unknown / Non-Applicable')]
ind_count.industry.value_counts().head(3)

In [ ]:
data['industry'].replace(np.nan, 'IT Services', inplace = True)

### 3.2.2 Rating - 12.07% NaNs: Mean

In [ ]:
rating_mean = data['rating'].mean()
data['rating'].replace(np.nan, rating_mean, inplace = True)

### 3.2.3 Sector, Renevue and Size: Mode

In [ ]:
moda_sector = data['sector'].mode()
data['sector'].replace(np.nan, moda_sector[0], inplace = True)

moda_revenue = data['revenue'].mode()
data['revenue'].replace(np.nan, moda_revenue[0], inplace = True)

moda_size = data['size'].mode()
data['size'].replace(np.nan, moda_size[0], inplace = True)

### 3.2.4 Company_Name: Only 1, let's drop.

In [ ]:
data.dropna(subset=['company_name'], inplace=True)

### 3.2.5 Salary_Estimate: Only 1. 

Let's check the job_title and then replace for the most frequent salary for that job title

In [ ]:
data['job_title'].value_counts().head(20)

In [ ]:
data[data['salary_estimate'].isnull()]

In [ ]:
# It's a Management!! 

data_manag = data.loc[data['job_title'] == 'Data Management Analyst']
data_manag['salary_estimate'].value_counts().head(3)

In [ ]:
data['salary_estimate'].replace(np.nan, '$41K-$86K (Glassdoor est.)', inplace=True)

### 3.3 Salary_Estimate: Feature Engineering

That's a categorical feature, but a troublesome one.

Some of binning ranges is too high, look at these ranges could be grouped:
    
    31k-59k
    30k-54k
    35k-42k

But some of them are too high, look at these ranges:

    31k-100k
    49k-112k
    72k-127k

Then, let's just create Let's Create 3 columns (Min, Max e Mean).

In [ ]:
data2 = data.copy()

In [ ]:
import re

minn = []
maxx = []

data2.reset_index()
for val in data2.salary_estimate:
    valores = re.findall('[0-9]+', str(val))
    if valores:
        minn.append(str(valores[0]))
        maxx.append(str(valores[1]))

data2['min_salary'] = minn
data2['max_salary'] = maxx


data2[['min_salary', 'max_salary']] = data2[['min_salary', 'max_salary']].astype(int)


media = []
subdata = data2[['min_salary', 'max_salary']]
for x in subdata:
    operacao = (subdata.min_salary + subdata.max_salary)/2
    media.append(operacao)
data2['mean_salary'] = media[0]

In [ ]:
data2[['min_salary', 'max_salary', 'mean_salary']].head(3)

### 3.4 REDUCING GRANULARITY

### 3.4.1 Type_of_ownership: Aggregation (reducing granularity)

There is too many redundant values in that column. The biggest data values is classified as 'Private Company' and 'Public Company'. But when we check the values we can also see others 'private' business that can fit in the mains values, such as:

    Company - Private                 1273
    Company - Public                   452
    NaN                                 163
    Nonprofit Organization             124 (Private)
    Subsidiary or Business Segment      89 (Private)
    Government                          37 (Public)
    College / University                34
    Hospital                            19
    Unknown                             16
    Other Organization                  13 (Private)
    Contract                            11 (Private)
    Private Practice / Firm              9 (Private)
    School / School District             9
    Self-employed                        2 (Private)
    Franchise                            2 (Private)

As I'm not american I don't know how to classify Hospitals, Colleges/Universities and Schools. Probably many of them are publics and privates.

In [ ]:
data.type_of_ownership.value_counts()

In [ ]:
data.type_of_ownership.replace({'Nonprofit Organization':'Company - Private',
                       'Subsidiary or Business Segment':'Company - Private',
                       'Franchise': 'Company - Private',
                        'Other Organization' : 'Company - Private',
                        'Contract': 'Company - Private',
                        'Self-employed':'Company - Private',
                        'Private Practice / Firm': 'Company - Private',
                        'Government':'Company - Public'}, inplace = True)

In [ ]:
data.type_of_ownership.value_counts()

### 3.4.2 Revenue

In [ ]:
data.revenue.value_counts()

In [ ]:
data.revenue.replace({'$1 to $5 million (USD)':'$1 to $10 million (USD)',
                       '$5 to $10 million (USD)':'$1 to $10 million (USD)',
                       '$10 to $25 million (USD)':'$10 to $50 million (USD)',
                       '$25 to $50 million (USD)': '$10 to $50 million (USD)',
                        }, inplace = True)

In [ ]:
data.revenue.value_counts(1).round(2)

Even reducing granulatiry, the ranges still high.

### 3.4.3 Job_Title

There are many synonyms in the Jobs. Let's rename the most representative ones. Look at the examples below:

    =Data= Governance =Analyst=                     16
    Lead =Data Analyst=                             15
    =Data= Reporting =Analyst=                      13
    Financial =Data Analyst=                        12
    =Data Analyst= I                              11
    =Data Analyst= III                            11
    Marketing =Data Analyst=                       9
    Sr =Data Analyst=                              9
    =Data= Management =Analyst=                      8
    Data Warehouse Analyst                       8
    Data Science Analyst                         7
    SQL Data Analyst                             7
    Technical Data Analyst                       7
    Research Data Analyst                        6
    Healthcare Data Analyst                      6
    Data Security Analyst                        6
    Clinical Data Analyst                        6

As we can see, the most 'Data Analyst' jobs has qualificators. We will group them.

Let's have a special look at this feature

In [ ]:
# Looking TOP20 distributions in Job_Title

top_20_job_titles = data2.job_title.value_counts().iloc[:20].index

# Creating a DF to receive Top20
df_top20_job_titles = data2[data2['job_title'].isin(top_20_job_titles)]

#Plotting Top20 Salaryes

sns.catplot(data=df_top20_job_titles, y='job_title', x='min_salary', kind='box', 
            height=10, aspect=1)

In [ ]:
data.job_title.value_counts().head(30)

**Let's look how many job_titles has 'senior' and 'management' in the text**

In [ ]:

data2['job_title'].str.contains('Senior').value_counts()

In [ ]:
data2[data2['job_title'].str.contains('Management')].head(4)

**As we can see, there are too many 'managements' jobs using differents titles. Let's group them.**

In [ ]:
def replace_title(df, old, new):
    
    for job in df.job_title:
        found = re.findall(old.lower(), job.lower())
        if found: 
            df.job_title.replace(job, new, inplace = True)

In [ ]:
replace_title(data2, 'management', 'Data Management')
replace_title(data2, 'senior' or 'sr' or 'sr.', 'Senior Data Analyst')
replace_title(data2, 'junior' or 'jr' or 'jr.', 'Junior Data Analyst')

In [ ]:
data2.job_title.value_counts()

In [ ]:
# If not 'senior', 'junior', 'management' and contains 'DATA ANALYST', replace for 'DATA ANALYST'.

for job in data2.job_title:
    found = re.findall('senior', job.lower()) or re.findall('junior', job.lower()) or re.findall('management', job.lower())
    if not found:
        outros = re.findall('data', job.lower()) or re.findall('analyst', job.lower())
        if outros:
            data2.job_title.replace(job, 'Data Analyst', inplace = True)

In [ ]:
data2.job_title.value_counts()

## 4. Overall DataViz:

### Mean Salary

In [ ]:
# Plotting Job_Title

sns.countplot('job_title', data=data2)
plt.title('Job title distribution', fontsize=15)
plt.xticks(rotation=45, fontsize=13)
plt.show()

In [ ]:
sns.catplot(data=data2, y='job_title', x='mean_salary', kind='box', 
            height=6, aspect=2)

### Min salaries per Job Title

In [ ]:
sns.catplot(data=data2, y='job_title', x='min_salary', kind='box', 
            height=6, aspect=2)

In [ ]:
plt.figure(figsize=(7,4), dpi=100)
plt.title('Min Salary')
plt.xticks(rotation=45, fontsize=8)
sns.violinplot(x='job_title',y='min_salary', data=data2)

### Max salaries per job

In [ ]:
sns.catplot(data=data2, y='job_title', x='max_salary', kind='box', 
            height=6, aspect=2)

In [ ]:
plt.figure(figsize=(7,4), dpi=100)
plt.title('Max Salary')
plt.xticks(rotation=45, fontsize=8)
sns.violinplot(x='job_title',y='max_salary', data=data2)

### Comparing Mean Salary per Job

In [ ]:
# Vamos observar a distribuição do Cargo x Média Salarial

plt.figure(figsize=(8,5), dpi=80)
sns.kdeplot(data2['mean_salary'].loc[data2['job_title']=='Junior Data Analyst'], shade=True, 
            color='purple', label='junior data Analyst', alpha=0.4)
sns.kdeplot(data2['mean_salary'].loc[data2['job_title']=='Data Analyst'], shade=True, 
            color='red', label='Data Analyst', alpha=0.3)
sns.kdeplot(data2['mean_salary'].loc[data2['job_title']=='Senior Data Analyst'], shade=True, 
            color='dodgerblue', label='Senior Data Analyst', alpha=0.6)
sns.kdeplot(data2['mean_salary'].loc[data2['job_title']=='Data Management'], shade=True, 
            color='g', label='Management Data', alpha=0.4)
plt.title('Distribuição por Cargo x Média Salárial')
plt.show()

In [ ]:
# Top10 companies wih higher mean salaries

data2.groupby('company_name')[['mean_salary']].mean().sort_values(['mean_salary'],ascending=False).head(10)

In [ ]:
# Gouping by higher RATING, COMPANY and MEAN SALARY

data2.groupby('company_name')[['rating', 'mean_salary']].mean().sort_values(['rating'],ascending=False).head(15)

In [ ]:
# Showing companies that has higher salaries and his ratings.

data2.groupby('company_name')[['mean_salary', 'rating']].mean().sort_values(['mean_salary'],ascending=False).head(15)

In [ ]:
# Rating

plt.hist(data2['rating'])
plt.title('Distribuição do Rating')
plt.ylabel('Qtd de empresas')
plt.xlabel('Rating')
plt.show()

## 6. Questions/Hypotheses: Integrity

    1. Is there any 'Junior' earning MORE than 80k per year?
    2. Is there any 'Management' earning LESS than 50k per year?
    3. Is there a correletion between 'rating' and 'mean_salary'?

In [ ]:
data2[data2['mean_salary'] > 80.0].loc[data2['job_title']=='Junior Data Analyst'].head()

In [ ]:
data2[data2['mean_salary'] < 50.0].loc[data2['job_title']=='Data Management']

### Max and Min salaries

In [ ]:
data2[['mean_salary', 'job_title']].loc[data2['mean_salary']== data2.mean_salary.min()].head(3)

In [ ]:
data2[['mean_salary', 'job_title']].loc[data2['mean_salary']== data2.mean_salary.max()].head(3)

#### So, the minimum and maximum salaries belongs to 'Data Analyst', not Junior nor Managament.

### Any correlation between salary and rating?

In [ ]:
data2[['rating', 'mean_salary']].corr()

# Not that time...

### Conclusions: We can't trut fully in this dataset. We need to extract more than what we did.

## 7. Feature Engineering

So, we know that is something odd in Job Title/Salaries. The highest salaries belongs to Data Analyst and also the Lowest.

Let's take a look at Job Description to find some clues.

Let' try extract the 'Job Title' from 'Job Description'. We are looking in Job Descriptions the jobs that has Juniors, Senior or Managament and reclassify them, if its wringly classified in Job Title.

Approuch:

    1º Create a new DF thar contains all 'Senior' occurences in Job_Description;
    2º We are looking for patterns and replace the job titles if it is necessary.
    3º We will do this to 'Junior' and 'Management' as well.

In [ ]:
data3 = data2.copy()
data3.job_title.value_counts()

In [ ]:
description_senior = data3[data3['job_description'].str.contains('Senior' or 'senior' or 'Sr.' or 'sr.')]

In [ ]:
description_senior.shape

In [ ]:
plt.figure(figsize=(5,3), dpi=100)
plt.xticks(rotation=45, fontsize=8)
sns.countplot('job_title', data=description_senior)
plt.show

### So, we can find the word 'Senior' in Data Analystar, Junior and also Management job titles.

Let's go into 'Data Analyst' job Descriptions seeking for 'Senior'.

In [ ]:
seniors_ = description_senior.loc[description_senior['job_title'] == 'Data Analyst']

In [ ]:
seniors_.head(3)

**Let's see the fully job description of index1, that is classified as 'Data Analyst'**

In [ ]:
seniors_.job_description.to_list()[1]

**Bingo**

As you can see, even classified as Data Analyst (Job Title), the description refers to a Senior Job: 

    (...) The Senior Business Consultant will be involved in the strategic planning of an engagement or helping the client 
     make decisions about their future IT direction (...)
    (...)7-10 Years of relevant work experience requirede (...)

**So, to have more accurace, we have to handle Job Description column and find the real Jobs Titles**

In [ ]:
plt.figure(figsize=(9,3), dpi=100)
plt.xticks(fontsize=8)
sns.countplot('min_salary', data=seniors_)
plt.show

### Let's just see the words close to 'Senior' word in  the 'Job Descriptions'

In [ ]:
pattern=re.compile('...........................senior..................................', flags=re.IGNORECASE)

[re.findall(pattern, x) for x in seniors_.job_description]

#### Seeing the occurences, we can confirm that, for some positions, despite the Job Titles are classifed as  'Data Analyst', the jobs refers to 'Seniors Data Analyst'.

For what we can see, the following words in 'Data Analyst' belongs to Senior positions:

    Senior Business Consultant
    Solutions Analyst - Senior
    Senior Data Analyst
    Senior Data EngineerAnalyst
    Senior Data Systems
    Senior Metadata Analyst
    Senior Analyst/Analyst

So, we can replace them all. Warning: In my opinion, It's NOT appropriate use NLTK's methods, once some positions has the 'Senior' word, but it's not a Senior positions such as:

    supervision of the Senior
    reports to the Senior
    work directly with senior
    etc.

In [ ]:
data4 = data3.copy()

count = 0
senior = ['Senior Business Consultant', 'Solutions Analyst - Senior', 'Senior Data Analyst', 'Senior Data EngineerAnalyst', 
          'Senior Data Systems', 'Senior Metadata Analyst', 'Senior Analyst/Analyst']

idx_to_replace = []


for position in senior:
    for idx, phrase in enumerate(data4.job_description):
        found = re.findall(position, phrase)
        if found:
            idx_to_replace.append(idx)
           
for idx in idx_to_replace:
    data4.job_title[idx] = 'Senior Data Analyst'

In [ ]:
data4.job_title.value_counts()

In [ ]:
# Doing the same for JUNIOR

description_jr = data4[data4['job_description'].str.contains('Junior' or 'junior' or 'Jr.' or 'jr.')]

In [ ]:
junior_ = description_jr.loc[description_jr['job_title'] == 'Data Analyst']

In [ ]:
### Vamos fazer uso das REGEX. Dentro da coluna 'Job_Description', vamos ver as palavras próximas a 'Senior'.

pattern=re.compile('..................................Junior....................................' or \
                   '...............Jr..............', flags=re.IGNORECASE)
    
[re.findall(pattern, x) for x in junior_.job_description]

In [ ]:
idx_to_replace_jr = []

for idx, phrase in enumerate(data4.job_description):
    found = re.findall('The Junior Data Analyst will work closely', phrase)
    found1 = re.findall('is available for a Junior Civil', phrase)
    found2 = re.findall('recruiting for a Junior Compensation', phrase)
    if found or found1 or found2:
        idx_to_replace_jr.append(idx)

for idx in idx_to_replace_jr:
    data4.job_title[idx] = 'Junior Data Analyst'

In [ ]:
data4.job_title.value_counts()

## 8. Perfumery: Cleanning data

DROPPING:

    job_description --> Extracted all we wanted
    headquarter --> Small relevance
    founded --> Small relevante, 29% missing data.
    revenue --> Highest frequency os 35% and it's associated to 'Unknown'. The second higher has 10% frequency.
    easy_apply --> More than 90% 'False'
    industry --> High cardinality: 88 unique values. Let's use 'Sector' that has 24 unique values.

CHANGING:

    location --> Let's split the locations in States and Cities.
    sector --> 24 unique values. Let's use the Top7 and rename the other to 'others'.

KEEPING:

    rating
    company_name
    job_title
    salaries

In [ ]:
data5 = data4.copy()

In [ ]:
# DROPPING

data5.drop(columns=['job_description', 'headquarters', 'founded', 'revenue', 'easy_apply', 'industry'], inplace = True)

In [ ]:
data5.sector.value_counts()[0:10]

In [ ]:
# Top7 Sectors

top7_setores = data5.sector.value_counts()[0:6]
top7_setores = top7_setores.index

[data5['sector'].replace(value, 'Others', inplace=True) for value in data5.sector if value not in top7_setores]

data5.sector.value_counts()

In [ ]:
# Before 'Sectors' transformation

plt.figure(figsize=(12,3), dpi=100)
plt.xticks(fontsize=4)
sns.countplot('sector', data=data4)
plt.show

In [ ]:
# after Sectors transformation 
plt.figure(figsize=(9,4), dpi=100)
plt.xticks(fontsize=8)
sns.countplot('sector', data=data5)
plt.show

In [ ]:
# Location

data5.location.head(20)

In [ ]:
# Transforma cidade por Estados

data5['state'] = [value.split(',')[1].strip() for value in data5.location]
data5['city'] = [value.split(',')[0].strip() for value in data5.location]

data5[['city','state']].head()

In [ ]:
data5.state.value_counts()

WTF is 'Arapahoe'?? GOOGLE Helps --> Colorado!! ¬¬

In [ ]:
data5['state'].replace('Arapahoe', 'CO', inplace=True)

In [ ]:
plt.figure(figsize=(9,4), dpi=100)
plt.xticks(fontsize=8)
sns.countplot('state', data=data5)
plt.show()

In [ ]:
# Mininum Salaries per State

plt.figure(figsize=(7,4), dpi=100)
plt.title('Distribuição dos Salários MÍNIMOS por ESTADO')
sns.boxplot(x='state',y='min_salary', data=data5)
plt.show()

In [ ]:
# Comparing top5 States

top5_states = data5['state'].value_counts().iloc[0:5].index
df_top5_states = data5[data5['state'].isin(top5_states)]

plt.figure(figsize=(6,3), dpi=100)
sns.countplot('state', data=df_top5_states)
plt.xticks(fontsize=8)
plt.show()

## 9. Looking for Latitude and Logitude: GeoCoder

Well... It's a dumb solution. Geocoder has acess limited, so I created a 3 lists (location, latitude and longitude) instead of a tuple's dictionary or or direct input in data5['lat'] / data5['lng'].

Since I can't use GeoCoder for the nexts 24h, we have to work the (bad) tools we have.

In [ ]:
from opencage.geocoder import OpenCageGeocode
from pprint import pprint

In [87]:
data5['lat'] = data5['location']
data5['lng'] = data5['location']

In [88]:
import settings

key = geocoder_API_KEY
geocoder = OpenCageGeocode(key)
query = data5['location'][0]
result = geocoder.geocode(query)

In [163]:
place = []
lat = []
lng = []

for location in data5['location']:
    if location not in place:
        query = location
        place.append(location)
        result = geocoder.geocode(query)
        lat.append(result[0]['geometry']['lat'])
        lng.append(result[0]['geometry']['lng'])

In [388]:
coord = {}
for k, v in enumerate(place):
    coord[v] = list(zip(lat, lng))[k]

for place in data5.lat:
    if place in coord.keys():
        data5['lat'].replace(place, coord[place][0], inplace=True), \
        data5['lng'].replace(place, coord[place][1], inplace=True)

In [390]:
data5[['location', 'lat', 'lng']].tail()

            location        lat         lng
2248      Denver, CO  39.739236 -104.984862
2249  Centennial, CO  39.568064 -104.977831
2250      Denver, CO  39.739236 -104.984862
2251  Centennial, CO  39.568064 -104.977831
2252  Broomfield, CO  39.920383 -105.069146

# 10. Next steps: GeoPlotting